#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./src/assets/phasmo_book.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}